* {
    font-family: Silkscreen, Arial, sans-serif;
    background-color: black;
    color: white;
    font-size: 20px;
}

ul{
    font-size: 24px;
    border-color: white;
    border-radius: 10px;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

@media print {
    a[href^="http"]:after {
        content: " (" attr(href) ")";
    }
}